:root {
	--grid-size: 16;
}

body {
	font-family: "Roboto", sans-serif;
	height: 100vh;
}

h1 {
	text-align: center;
}

label {
	padding: 0;
}

input {
	border: 5px solid rgb(207, 204, 204);
	border-radius: 5px;
}
input[type="color"] {
	width: 80%;
}

.container {
	display: flex;
	height: 90vh;
	border: 1px solid red;
}

.container__item {
	flex: 1;
	border: 1px solid blue;
}

.menu-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	padding-bottom: 1rem;
}

.menu__item {
	flex-shrink: 0;
	width: 80%;
	margin: 1rem 4rem;
	padding: 0.5rem 1rem;
	border: 1px solid red;
}

.canvas-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	flex: 3;
}

.canvas__item {
	display: grid;
	grid-template-columns: repeat(var(--grid-size), 1fr);
	grid-template-rows: repeat(var(--grid-size), 1fr);
	height: 600px;
	width: 600px;
	border: 1px solid red;
}

.cell {
	border: 1px solid rgb(222, 217, 217);
}

.cell.hide-grid {
	border: none;
}
